/**** basic ***/

html, body {
    min-height: 100%;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

body {
    padding-top: 0px;
    font-size: 15px;
    line-height:1.2;
}

body > .container-fluid {
    padding: 0;
    min-height: 100%;
    max-width: none;
}
body > .container-fluid > .row {
    margin:0;
}
.sidebar[class*="col-"], .main[class*="col-"]{
    padding:0;
    min-height: 100%;
}

.sidebar[class*="col-"] > div, .main[class*="col-"] > div {
    width: 100%;
    display: block;
}

[class*='col-'] > div > img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.banner {
    position:relative;
    overflow: hidden;
}

.banner .edit {
    position: absolute;
    top:1em;
    left:1em;
    color:#fff;
}
.box .btn-action.edit, article .btn-action.edit {
    float:right;
}

/**** Typography ****/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h1, .h1 {
    font-size: 2em;
}
h2, .h2 {
    font-size: 1.8em;
}
h3, .h3 {
    font-size: 1.6em;
}

h4, .h4, h5, .h5, h6, .h6, .lead {
    font-size: 1.4em;
}
.content p, .content td, .content li {
    font-size: 1em;
}
a {
    background: transparent;
    color:inherit;
}

a:focus,
a:active,
a:hover {
    outline: none;
    color:inherit;
}
p.lead {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.2;
}

ul ul, ul ol, ol ul, ol ol {
    margin-top:.5em;
}
.lead > strong {
    font-weight: 600;
}
/*** tables ***/
table { border-collapse: separate; border-spacing: 1px; }
td {
    font-size: 1em;
    vertical-align: middle;
    padding:.5em 1em;
}
tr.odd td{
    background: #eee;
}
/*** Layout ***/
.sidebar {
    background: #b2af9c;
}
.sidebar, .sidebar * {
    color:#fff;
}
.sidebar a:hover {
    color:#fff;
}
.main {
    background: #fff;
}
.navbar-header {
    width: 100%;
}
.navbar-brand {
    background:#b2af9c url("../img/logo.png") no-repeat scroll center center / contain;
    text-indent: -200%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
}
.top {
    border-bottom: 1px solid #b2af9c;
}

/*** Navigation ***/

.top #menu-sprachenschalter {
    list-style: none;
    float: right;
    text-transform: lowercase;
    font-size: smaller;
}
.top nav {
    padding:0;
    font-size: 15px;
    clear: both;
}
.menu-sprachenschalter-container {
    margin:.5em 2em;
}
.nav > li {
    vertical-align: middle;
    border-left: 1px solid #B2AF9C;
}
.nav > li:first-child{
    bordeR:0;
}
.nav > li > a,
.dropdown-menu > li > a{
    color:inherit;
}
.nav > li > a{
    padding:0 .5em;
    text-transform: uppercase;
    color:#B2AF9C;
}
.nav > li > ul.dropdown-menu{
     top:5em;
}
.nav > li:last-child > ul.dropdown-menu {
    right:0 !important;
    left: auto;
}
/*.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,*/
.nav > li > a:hover, .nav > li > a:focus {
    background: transparent;
}
.dropdown-menu {
    border-radius: 0;
    box-shadow: none;
    border:0;
    margin:0;
    padding:0;
    font-size: 1em;
}
.dropdown-menu > li {
    margin-bottom: 1px;
}

.dropdown-menu > li > a,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background: #B2AF9C;
    color:#fff;
}

.top nav > ul > li > a:hover, .top nav > ul > li > a:focus {
    opacity: .5;
}
.top nav > ul > li > ul.dropdown-menu {
    background: transparent;
    border-radius: 0;
    margin: -1em 0 0;
    padding: 1em 0 0 0;
}
ul.nav .dropdown > .dropdown-menu .caret {
    border-left: 4px solid currentcolor;
}
/**** content ****/
.page {
    min-height:320px;
}
.content, .bottom {
    padding:1em 2em;
}
.main > article, #accordion {
    padding:0 2em;
}
article > section p:not(.lead) {
    margin:1em 0;
}
article > section a {
    text-decoration: underline;
}
article > section  ul,
article > section ol {
    padding-left: 1em;
}
article > section  ul li,
article > section ol li {
    margin-bottom: 1em;
}

article.sticky {
    background: rgba(178, 175, 156, .2);
    padding:0 2em;
    margin: 2em;
    
}
.sticky .page-header {
    margin-top:10px;
}
article.status-future {
    padding:1em !important;
    border:1px dashed currentColor;
}

article.status-future,
article.status-future *{
    color:#999;
    font-style: italic;
}
/*post formats */
.format-gallery li.span2 {
    list-style: none;
    display: inline-block;
    margin:1em !important;
}
/****** images ******/
.img-container {
    margin:1em 0;
}
.wp-caption + img {
    margin-bottom: 1em;
}

/***** Accordion Headlines****/
#accordion > h3 {
    border-top: 1px solid #b2af9c;
    padding-top: 1em;
}
#accordion > h3 > a:hover {
    text-decoration: none;
}
#accordion > h3 > a:before {
    font-family: 'FontAwesome';
    content: "\f0da";
    padding-right: .5em;
}
#accordion > h3 > a.show:before {
    content: "\f0d7";
}

#accordion [id*='collapse_'] > p.lead {
    font-size: 1em;
    font-weight: normal;
    line-height: inherit;
}
/*lists*/
.fa-ul {
    margin-left: 1em;
}
.fa-ul li > i {
    font-size: larger;
    color:#b2af9c;
    margin-right: 1em;
}

/*tags*/
.tags a.label {
    background: none repeat scroll 0 0 transparent;
    border-radius: 0;
    border-right: 1px solid currentcolor;
    color: #b2af9c;
    font-weight: 500;
    line-height: 1;
    padding-bottom: 0;
    padding-top: 0;
}
.tags a.label:last-child {
    border:0;
}
#tag-cloud .label-success,#tag-cloud .label-success:hover{
    background: #727064;
}
#tag-cloud .label-warning,#tag-cloud .label-warning:hover{
    background: #989686;
}
/*widgets*/
.widget_meta .widgettitle { display: none;}

[id*='meta-'] {
    display: none;
}

.logged-in [id*='meta-'] {
    position: fixed;
    bottom:0;
    left:0;
    margin:0;
    padding:1em;
    background: #000;
    display: block;
}
.widget_meta li{
    list-style: none;
    padding:0 1em;
    border-left:1px solid currentColor;
    display: none;
}
.widget_meta li:nth-child(1), .widget_meta li:nth-child(2) {
    display: inline-block;
}
.widget_meta li:first-child {
    border:0;
}
.widget .post-date {
    font-size:small;
    margin-left: .5em;
    font-style: italic;
}
.widget .post-date:before {
    content:'[';
    margin-right: .2em;
}
.widget .post-date:after {
    content:']';
    margin-left: .2em;
}
#widget-footer {
    border-top:1px solid #b2af9c;
    padding-top: 2em;
}

.meta {
    font-size: .8em;
    color:#666;
    font-style: italic;
}
.alignnone, .alignnone > img,
.attachment-wpbs-featured{
    max-width: 100%;
    width: 100%;
    height:auto;
}
.wp-caption-text {
    font-size: smaller;
    color:#666;
    text-align: center;
    line-height: 1.2;
    font-weight: 300;
    padding:.2em 0;
}
.page-header {
    border-color:#b2af9c;
}

#award {
    background: transparent url("../img/logo_dav_col.svg") no-repeat scroll center center / contain;
    height: 100px;
}
.no-svg .award {
    background-image: url("../img/logo_dav_col.png");
}

/**** sidebar widgets ***/
.widget ul {
    padding:0;
}
.widget li {
    list-style: none;
}

