/* 
    Document   : custom.css
    Created on : 07.06.2014, 17:18:04
    Author     : chilliscope
    Description:
        Purpose of the stylesheet follows.
*/

html {
    min-height: 100%;
    position: relative;
}
body {
    padding-top: 0 !important;
    font-size: 15px;
    margin-bottom: 100px;
}

img {
    max-width: 100%;
}
.sidebar {
    background: #b2af9c;
    height: 100%;
    padding-left: 0;
}

.content {
    background: #fff;
    height: 100%;
    padding-right: 0;
}

[class*="col"] a{
    display: block; 
}


body > main > .row > header > [class*="col"]{
    min-height: 130px;
}
#logo {
    padding:20px;
}
.languages a{
    display: inline;
    padding: 0 1em;
    border-right:1px solid currentColor;
}
.languages a:last-child {
    border:0;
}

/*** Navigation ***/
.navbar-default {
    background-color: transparent !important;
    border:0 !important;
    margin: 0;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-top:40px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border:0;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent !important;
    color: currentColor;
}
.navbar-nav > li {
    padding:0 12px;
}
.navbar-nav > li:first-child {
    padding-left:0;
}
.navbar-nav > li:right-child {
    padding-right:0;
}
/*** ToDo Submenu ***/

/*** Banner ***/

section[role="banner"] [class*="col"] {
    padding: 0;
    height:225px;
    overflow: hidden;
}
section[role="banner"] [class*="col"] img{
    width: 100%;
    height: auto;
}

footer {
    height:100px;
    position: absolute;
    bottom:0;
    width: 100%;
}